<section class="head">
  <h1 id="logo" (click)="redirectToHome()">JUST TYPE IT</h1>
  <a id="upgrade"> UPGRADE $30 X MES </a>
  <a id="login" (click)="redirectToLogin()"> LOGIN </a>
</section>

<section class="body">
  <h2 id="slogan">ELEVA TU ESCRITURA A NUEVAS ALTURAS CON JUS TYPE IT</h2>
  <img id="teclado" src="https://firebasestorage.googleapis.com/v0/b/ingenigma-javascript.appspot.com/o/JavaScript%2FImagen%2FTeclado.png?alt=media&token=1702941f-1658-46b4-86f6-6a6f11a11c89" />
  <section class="testimonios">
    <div class="testimonio_1">
      <img id="foto_1" src="https://firebasestorage.googleapis.com/v0/b/ingenigma-javascript.appspot.com/o/JavaScript%2FImagen%2FUser.png?alt=media&token=4678638d-471e-4a26-ae79-30b87728ec92" />
        <p id="texto_1">
          GRACIAS A ESTA PAGINA E INCREMENTADO MI PRODUCTIVIDAD. ES FACINANTE.
        </p>
    </div>
    <div class="testimonio_2">
      <img id="foto_2" src="https://firebasestorage.googleapis.com/v0/b/ingenigma-javascript.appspot.com/o/JavaScript%2FImagen%2FUser.png?alt=media&token=4678638d-471e-4a26-ae79-30b87728ec92" />
      <p id="texto_2">
        ME HA GUSTADO MUCHO LA PAGINA. ES INTUITIVA Y EL CONTENIDO GRATIS ES MUY
        BUENO.
      </p>
    </div>
  </section>
</section>

<section class="footer">
  <a id="privacidad"> POLITICA DE PRIVACIDAD </a>
  <p id="logo_footer">JUST TYPE IT</p>
  <a id="contacto"> CONTACTO </a>
</section>
