<section class="hero">
    <div class="head">
      <h1 id="titulo">JUST TIPE IT</h1>
      <a href="#" id="salir">X</a>
    </div>
    <div class="log_in">
      <form action="#">
        <input type="text" id="username" name="username" placeholder="USUARIO" />
        <br/>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="CONTRASEÑA"
        />
        <br />
        <a id="log_in_button">LOG IN</a>
      </form>
      <a id="sing_up"> NO ESTOY REGISTRADO </a>
    </div>
  </section>
  